:root {
    --darkgray: #212329;
    --brightred: #f9423d;
    --white: #fff;
    --lightred: #f9433dcc;
    --tojassarga: #f9e8bb;
    --tojassarga2: #acac94;
    --barna: #886c50;
    --vilagoskek: #6c6a84;
    --rozsaszin: #fb6b83;
    --sotetkek: #3f3d56;
    --vilagosszurke: #cbcbcb;
    --tojassarga3: #c4ba9f;
    --sotetrozsaszin: #46466f;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    background-color: var(--tojassarga);
}

.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    color: var(--sotetkek);
}

.services {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     margin: 0px 20px;
     padding: 20px 20px;
     background-color: var(--vilagoskek);
     border-radius: 10px;
     cursor: pointer;
}

.card:hover{
    background-color: var(--rozsaszin);
    transition: 0.4s ease;
}

.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}

.card h2{
    font-size: 28px;
    color: var(--tojassarga);
    margin-bottom: 20px;
}

.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: var(--tojassarga);
}

.button {
    font-size: 15px;
    text-decoration: none;
    color: var(--sotetkek);
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: var(--tojassarga);
}

.button:hover {
    background-color: var(--vilagoskek);
    transition: 0.4s ease;
    color: var(--tojassarga);
}

@media screen and (max-width: 825px){
    .services{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 85%;
        display: absolute;
        margin: 20px 0px;
    }
}

/* APPOINTMENT */
.appoin {
    padding-block-start: 0;
}

.appoin-card .card-banner {
    display: none;
}

.appoin-card .card-content {
    background-color: var(--tojassarga);
    padding: 150px 150px;
    text-align: center;
    color: var(--sotetkek);
}

.appoin-card .section-title {
    color: var(--sotetkek);
    font-size: xx-large;
}

.appoin-card .section-text {
    margin-block: 15px 30px;
}


.input-field {
    background-color: var(--lightred);
    color: var(--vilagosszurke);
    min-height: 56px;
    padding-inline: 25px;
    border-radius: 3px;
    margin-block-end: 20px;
    outline: none;
    outline-offset: 0;
    width: 100%;
}

.input-field:focus {
    outline: 3px solid var(--rozsaszin);
}

select.input-field {
    appearance: none;
}

select.input-field, .input-field::placeholder {
    color: var(--vilagosszurke);
    font-weight: 500;
    width: 100%;
}

.input-field > option {
    color: var(--brightred);
}

.input-field.date {
    text-transform: uppercase;
    font-size: large;
    color: white;
}

textarea.input-field {
    padding-block: 25px;
    height: 150px;
    width: 100%;
    text-align: start;
}

.form-btn {
    background-color: var(--vilagosszurke);
    color: var(--vilagoskek);
    font-size: x-large;
    border-radius: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.4s ease-out;
}

.form-btn:is(:hover, :focus) {
    background-color: var(--vilagoskek);
    color: var(--vilagosszurke);
}

/* Animation for dropdown */
.highlight-select {
    animation: highlightEffect 1s ease;
}

@keyframes highlightEffect {
    0% {
        background-color: var(--rozsaszin);
        transform: scale(1.02);
    }
}